.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 50px 40px;    
}

.skill-heading{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.skills h1 span{
    color: #40138f;
}
.skills-containers{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sub-skills{
    display: flex;

}
.skills-icons{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #9286a7;
    margin-top: 10px;
}

.skills-containers img{
    width: 50px;
    justify-content: center;
    align-items: center;
}

.icon-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.icon-text .text{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color:rgb(96, 95, 95);
}

/* .icon-text:hover{

} */

@media (max-width:480px){
    .sub-skills{
        flex-direction: column;
        align-items: center;
        
    }
    .skill-heading, .skill-heading span{
        font-size: 1.5rem;
    }

    .skills-containers{
        width: 100%;
        justify-content: center;
    }
    .exper{
        align-items: center;
        justify-content: center;
    }
    .exper img{
        width: 300px;
    }
}